<!-- views/catalogue.ejs -->

<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>Catalogue page</title>
    <%- include meta.ejs %>
    <script type="text/javascript">
		var category = <%= category %>;
    </script>
</head>
<body>
    <%- include loading.ejs %>
    <div id="navbar">
        <a id="logo-container" href="/"><img id="logo-img" src="/img/static/logo.png" /></a>
        <div id="nav-menu">
            <span data-categoryid="0" class="nav-item <% if (category === 0) { %>selected<% } %>">All</span>
            <span data-categoryid="1" class="nav-item <% if (category === 1) { %>selected<% } %>">Bedroom</span>
            <span data-categoryid="2" class="nav-item <% if (category === 2) { %>selected<% } %>">Dining</span>
            <span data-categoryid="3" class="nav-item <% if (category === 3) { %>selected<% } %>">Hardware</span>
            <span data-categoryid="4" class="nav-item <% if (category === 4) { %>selected<% } %>">Home Decor</span>
            <span data-categoryid="5" class="nav-item <% if (category === 5) { %>selected<% } %>">Kitchen</span>
            <span data-categoryid="6" class="nav-item <% if (category === 6) { %>selected<% } %>">Office Furniture</span>
            <span data-categoryid="7" class="nav-item <% if (category === 7) { %>selected<% } %>">Painting</span>
            <span data-categoryid="8" class="nav-item <% if (category === 8) { %>selected<% } %>">Sofa Set</span>
        </div>
        <div id="hamburger-container">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="background-header"><img src="/img/imgmin/catalogue/header.png" /></div>
    <div id="body">
        <div id="header-text">
            <div>All Furnitures</div>
            <div>One page</div>
        </div>
        <div id="header-search">
            <img src="/img/catalogue/search-icon.png" />
            <input id="search-text" placeholder="search furniture" />
        </div>
        <div id="body-content"></div>
    </div>
    <%- include partials/menu.ejs %>

    <%- include css/common.ejs %>
    <%- include scripts/common.ejs %>
    <%- include css/catalogue.ejs %>
    <%- include scripts/catalogue.ejs %>
    <%- include css/menu.ejs %>
    <%- include scripts/menu.ejs %>
    <script type="text/javascript">
	    $(window).on("load", function() {$('#loading').remove()});
    </script>
</body>
</html>