<!-- views/index.ejs -->

<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>Welcome to Homepro</title>
    <%- include meta.ejs %>
</head>
<body>
	<%- include css/loading.ejs %>
    <a id="logo-container" href="/"><img id="logo-img" src="/img/static/logo.png" /></a>
    <div id="pages-container">
        <section class="page-container">
            <div class="body">
                <div class="loading" style="
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;">
                    <div class="loading-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
                <% var page = 1; %>
                <%- include partials/left.ejs %><!--
                --><%- include partials/home.ejs %>
            </div>
        </section>
        <section class="page-container">
            <div class="body">
                <% var page = 2; %>
                <%- include partials/left.ejs %><!--
                --><%- include partials/room.ejs %>
            </div>
        </section>
        <section class="page-container">
            <div class="body">
                <% var page = 3; %>
                <%- include partials/left.ejs %><!--
                --><%- include partials/reviews.ejs %>
            </div>
        </section>
        <section class="page-container">
            <div class="body">
                <% var page = 4; %>
                <%- include partials/left.ejs %><!--
                --><%- include partials/clients.ejs %>
            </div>
        </section>
        <section class="page-container">
            <div class="body">
			    <% var page = 5; %>
			    <%- include partials/left.ejs %><!--
                --><%- include partials/sister.ejs %>
            </div>
        </section>
        <section class="page-container">
            <div class="body">
                <% var page = 6; %>
                <%- include partials/left.ejs %><!--
                --><%- include partials/store.ejs %>
            </div>
        </section>
    </div><!--
    --><%- include partials/right.ejs %>
    <%- include partials/menu.ejs %>

    <%- include css/common.ejs %>
    <%- include scripts/common.ejs %>
    <%- include css/main.ejs %>
    <%- include css/home.ejs %>
    <%- include css/room.ejs %>
    <%- include scripts/room.ejs %>
    <%- include css/reviews.ejs %>
    <%- include scripts/reviews.ejs %>
    <%- include css/clients.ejs %>
    <%- include scripts/clients.ejs %>
    <%- include css/sister.ejs %>
    <%- include scripts/sister.ejs %>
    <%- include css/store.ejs %>
    <%- include scripts/onepage-scroll.ejs %>
    <%- include css/menu.ejs %>
    <%- include scripts/menu.ejs %>
    <script type="text/javascript">
	    $(function() {$("#pages-container").moveTo(<%= scrollTo %>);});

	    $(function() {
		    var loadingCheckInterval = setInterval(function() {
			    var elem = $('#home').find('> img');
			    if (elem.height() === $(window).height()) {
				    setTimeout(function() {$('.loading').remove();}, 100);
				    clearInterval(loadingCheckInterval);
			    }
		    }, 100);
	    });
    </script>
</body>
</html>