<!-- views/product.ejs -->

<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<title>Product page</title>
	<%- include meta.ejs %>
	<script type="text/javascript">
		var total = <%= total %>;
		var at = <%= at %>;
		var categories = [];
		<% categories.forEach(function(category){ %>
			categories.push({name: "<%= category.name %>", till: <%= category.till %>});
		<%  }); %>
		var dimensions = [];
		<% dimensions.forEach(function(dimension){ %>
			dimensions.push({height: "<%= dimension.height %>", width: <%= dimension.width %>});
		<%  }); %>
		var categoryCodes = [];
		<% categoryCodes.forEach(function(categoryCode){ %>
			categoryCodes.push("<%=categoryCode%>");
		<%  }); %>
		var titles = [];
		<% titles.forEach(function(title){ %>
			titles.push("<%=title%>");
		<%  }); %>
	</script>
</head>
<body>
<div id="navbar">
	<a id="logo-container" href="/"><img id="logo-img" src="/img/static/logo.png" /></a>
	<div id="nav-menu">
		<a href="/catalogue/All" class="nav-item <% if (categoryId === 0) { %>selected<% } %>">All</a>
		<a href="/catalogue/Bedroom" class="nav-item <% if (categoryId === 1) { %>selected<% } %>">Bedroom</a>
		<a href="/catalogue/Dining" class="nav-item <% if (categoryId === 2) { %>selected<% } %>">Dining</a>
		<a href="/catalogue/Hardware" class="nav-item <% if (categoryId === 3) { %>selected<% } %>">Hardware</a>
		<a href="/catalogue/Home Decor" class="nav-item <% if (categoryId === 4) { %>selected<% } %>">Home Decor</a>
		<a href="/catalogue/Kitchen" class="nav-item <% if (categoryId === 5) { %>selected<% } %>">Kitchen</a>
		<a href="/catalogue/Office Furniture" class="nav-item <% if (categoryId === 6) { %>selected<% } %>">Office Furniture</a>
		<a href="/catalogue/Painting" class="nav-item <% if (categoryId === 7) { %>selected<% } %>">Painting</a>
		<a href="/catalogue/Sofa Set" class="nav-item <% if (categoryId === 8) { %>selected<% } %>">Sofa Set</a>
	</div>
	<div id="hamburger-container">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<div id="body">
	<%- include css/loading.ejs %>
	<div id="loading" style="
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;">
		<div class="loading-ellipsis"><div></div><div></div><div></div><div></div></div>
	</div>
	<div id="body-content">
		<div id="breadcrumb"><a href="#" class="category"></a>/<a href="#" class="product-name">table plant green</a></div>
		<div id="product-wrapper">
			<div id="product-info">
				<div class="tag">Imported</div>
				<div class="header">Table Plant Green</div>
				<div class="sub-header">Green</div>
			</div><!--
			--><div id="product-picture">
				<div class="image"></div>
				<div id="up-arrow"><img src="/img/product/up-arrow-grey.png" /></div>
				<div id="down-arrow"><img src="/img/product/down-arrow-grey.png" /></div>
			</div><!--
			--><div id="product-nav"></div>
			<div id="product-details-box">
				<div class="border"></div>
				To order or know more details about this product call 01918181818
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="left">Copyright 2018 <span>homePro</span></div>
		<div class="right">Contact Us</div>
	</div>
</div>
<%- include partials/menu.ejs %>

<%- include css/common.ejs %>
<%- include scripts/common.ejs %>
<%- include css/product.ejs %>
<%- include scripts/product.ejs %>
<%- include css/menu.ejs %>
<%- include scripts/menu.ejs %>
<script type="text/javascript">
	$(window).on("load", function() {$('#loading').remove()});
</script>
</body>
</html>